/ {
macros {
        ZMK_MACRO(sleep,
            wait-ms = <500>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp LG(X) &kp U &kp S>;
            display-name = "Windows Sleep";
        )
        ZMK_MACRO(alt_tabber,  // adapted from @moutis on ZMK Discord
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LALT>    // leave ALT down to keep menu up
                , <&macro_tap &kp TAB>       // open the menu
                , <&macro_pause_for_release> // wait until key release
                , <&macro_tap &sk_at RALT>   // start timer to release ALT after timeout
                , <&macro_release &kp LALT>; // now release the initial hold
            display-name = "Alt-tabber";
        )
        ZMK_MACRO(hwp_won,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp RALT &kp F &kp F &kp E &kp N6>
                , <&macro_press &kp LALT>
                , <&macro_press &kp LSHFT>
                , <&macro_press &kp F10>
                , <&macro_release &kp F10>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp RALT>;
            display-name = "KRW";
        )
        ZMK_MACRO(hwp_pm,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp RALT &kp N0 &kp N0 &kp B &kp N1>
                , <&macro_press &kp LALT>
                , <&macro_press &kp LSHFT>
                , <&macro_press &kp F10>
                , <&macro_release &kp F10>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp RALT>;
            display-name = "plus-minus";
        )
        ZMK_MACRO(hwp_tmp,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp N2 &kp N1 &kp N0 &kp N3>
                , <&macro_press &kp LALT>
                , <&macro_press &kp LSHFT>
                , <&macro_press &kp F10>
                , <&macro_release &kp F10>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LALT>;
            display-name = "Celsius";
        )
        ZMK_MACRO(hwp_phi,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp RALT &kp N0 &kp N0 &kp D &kp N8>
                , <&macro_press &kp LALT>
                , <&macro_press &kp LSHFT>
                , <&macro_press &kp F10>
                , <&macro_release &kp F10>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp RALT>;
            display-name = "O-stroke";
        )
        ZMK_MACRO(uni_mdot,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp RALT &kp N0 &kp N0 &kp B &kp N7>
                , <&macro_press &kp LALT>
                , <&macro_press &kp X>
                , <&macro_release &kp X>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp RALT>;
            display-name = "Mid-dot";
        )
        ZMK_MACRO(hwp_mg,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp RALT &kp M &kp G &kp RALT>;
            display-name = "Milligram";
        )
        ZMK_MACRO(hwp_grm,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp RALT &kp G &kp RALT>;
            display-name = "Gram";
        )
        ZMK_MACRO(hwp_kg,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp RALT &kp K &kp G &kp RALT>;
            display-name = "Kilogram";
        )
        ZMK_MACRO(hwp_mm,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp RALT &kp X &kp X &kp M &kp M &kp RALT>;
            display-name = "Millimeter";
        )
        ZMK_MACRO(hwp_vac,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp N2 &kp N2 &kp N0 &kp RALT>
                , <&macro_press &kp LSHFI>
                , <&kp V &kp A &kp C &kp RALT>
                , <&macro_release &kp LFHFT>;
            display-name = "VAC";
        )
    };
};
